<ion-header>
  <ion-navbar>
    <ion-title>
      MMDO - TP
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content padding>


  
  <ion-list>
    <ion-item *ngFor="let current of results">
      <ion-thumbnail item-start>
        <img [src]="current.image" alt="Affiche du film">
      </ion-thumbnail>
      <h2>{{current.title}}</h2>
      <p>{{current.director}}</p>
      <p>{{current.date}}</p>
      <button ion-button [navPush]="pushPage" [navParams]="{title: current.title}" item-end>View</button>
    </ion-item>

    <ion-item *ngIf="results.length<=0">Aucun résultat</ion-item>
  
  </ion-list>

</ion-content>